[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "marisa-trie>=1.3.1",
    "pytest>=9.0.1",
]
